{# empty Twig template #}
{% extends 'MaciejBundle:GameImage:list.html.twig' %}

{% block title %}Form{% endblock %}


{% block gallery %} 
    {% for %}
        <tr> 
            <td>
            </td>
        </tr>
    {%endfor%}


{% endblock %}  